<!-- <ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-row>
      <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg" id="imag">
        <img
            src="../../assets/images/logo_dancell.png"
            alt="Dancell logo"
            loading="lazy"
            
          />
      </ion-col>
      <ion-col size-md="9" size="12" class="welcome">
        
        
        <ion-card-content>
          <ion-button shape="round" color="primary"> Sign in </ion-button>
        </ion-card-content>
      </ion-col> 
    </ion-row> 
  </div>
  <form id="formLogin">
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Usuario" color="danger" placeholder="123456789Xxxxxxx">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>
    
  </form>
</ion-content>-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="../../assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Bienvenido
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Aplicacion para la gestion de procesos 
        de la empresa Dancell LTDA.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button fill="solid" shape="round" class="loginbtn">Iniciar Sesion</ion-button>
        <ion-button fill="outline" shape="round" color="dark">Registrarse</ion-button>
      </div>
      <div class="text-tag">
        <span>O a través de las redes sociales</span>
      </div>
      <div class="social-btns">
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="googlebtn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>
    
      </div>
    </ion-card-content>
  </ion-card>
 
</ion-content>
